<div class="card mb-3 mt-5 profile" style="max-width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img class="card-img" height="100%" width="250" name="avatar" id="avatar" src="{{user.avatar}}" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" name="username" id="username">Username: {{user.username}}</h5>
        <h5 class="card-title" name="name" id="name">Name: {{user.name}}</h5>
        <h5 class="card-title" name="email" id="email">Email: {{user.email}}</h5>
        <h5 class="card-title" name="bio" id="bio">Bio: <i>{{user.bio}}</i></h5>
        <div class="d-flex flex-row ml-3 mt-5">
             <form action="/users/{{user.username}}/edit" method="GET">
                <button class="btn btn-warning mr-2" type="submit">Edit Profile</button>
            </form>

            <form action="/users/{{user.username}}/delete" method="POST">
                <button class="btn btn-danger" type="submit">Delete Profile</button>
            </form>
        </div>
       
        
      </div>
    </div>
  </div>
</div>

<div class="mt-4">
    <h3 id="favorite-title">Your favorite movies</h3>
    <div class="cards-container">
        
    {{#each movies as |movie|}}
        <div class="card mb-3" id="card-background" style="width: 18rem;">
            <img class="card-img-top mt-2" src="{{movie.poster}}" alt="Card image cap">
                <div class="card-body text-center">
                    
                    <form method="POST" action="/films/movieDetail">
                        <h5 name="search" id="search" class="card-title">{{movie.title}}</h5>
                        <input id="search-input" type="hidden" name="search" class="form-control card-title" id="search" value="{{movie.title}}">
                        {{!-- <h5 name="search" id="search" class="card-title">{{movie.title}}</h5> --}}
                        <button type="submit" class="btn btn-warning">View Details</button>
                    </form>
                    
                </div>
        </div>
    {{/each}}
    </div>
</div>




