<h1 name="username" id="username">{{user.username}}</h1>

<div class="d-flex justify-content-start">
    <img class="rounded-circle"src="{{user.avatar}}">
    <div class="ml-5">
    <h3 name="name" id="name" >Name: {{user.name}}</h3>
    <h3 name="bio" id="bio">Bio: {{user.bio}}<h3>
    <h3 name="email" id="email" class="mt-4">Email: {{user.email}}</h3>
    
    <form action="/users/{{user.username}}/edit" method="GET">
    <button class="btn btn-warning" type="submit">Edit Profile</button>
    </form>

    <form action="/users/{{user.username}}/delete" method="POST">
    <button class="btn btn-danger" type="submit">Delete Profile</button>
    </form>
    </div>
</div>
<div class="mt-4">
<h2>Favorite movies</h2>
{{#each movies as |movie|}}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    <img src="{{movie.poster}}">
{{/each}}
</div>



        <div class="d-flex justify-content-start">
    {{#each user.favorite}}
        <div class="d-flex flex-column bd-highlight m-2">
        <h3>{{name}}</h3>
        <img src="{{poster}}">
        </div>
    {{/each}}
        </div>

