<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img class="card-img" height="100%" width="250" name="avatar" id="avatar" src="{{user.avatar}}" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" name="username" id="username">Username: {{user.username}}</h5>
        <h5 class="card-title" name="name" id="name">Name: {{user.name}}</h5>
        <h5 class="card-title" name="email" id="email">Email: {{user.email}}</h5>
        <h5 class="card-title" name="bio" id="bio">Bio: <i>{{user.bio}}</i></h5>
        <div class="d-flex flex-row ml-3">
             <form action="/users/{{user.username}}/edit" method="GET">
                <button class="btn btn-warning mr-2" type="submit">Edit Profile</button>
            </form>

            <form action="/users/{{user.username}}/delete" method="POST">
                <button class="btn btn-danger" type="submit">Delete Profile</button>
            </form>
        </div>
       
        
      </div>
    </div>
  </div>
</div>

<div class="mt-4">
    <h2>Favorite movies</h2>
    <div class="cards-container">
        
    {{#each movies as |movie|}}
        <div class="card mb-3" id="card-background" style="width: 18rem;">
            <img class="card-img-top" src="{{movie.poster}}" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title">{{movie.title}}</h5>
                    <a href="#" class="btn btn-warning">View Details</a>
                </div>
        </div>
    {{/each}}
    </div>
</div>




