<div class="mb-2 video-position-down" id="movie-title" id="background">

  <div class="video-l">
    <video
      id="video"
      class="video-js vjs-default-skin video-position-down"
      autoplay
      controls
      width="640" height="300"
      data-setup='{ "aspectRatio":"640:300","techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "{{movie}}"}],"youtube": { "start": 5 } }'
    >
    </video>
  </div>
  <div class="video-black">

    <div class="fixed-top position-relative video-down">
      
      <div class="d-flex justify-content-start ml-3 mt-2">
        <h1>{{data.title}}</h1>
      </div>

      <div class="d-flex justify-content-start ml-3">
        <h3>A film by {{data.director}}</h3>
      </div>

      <div class="d-flex bd-highlight">
        <div class="m-3">
          <img src="{{data.poster}}">
        </div>
        <div class="mt-3">
          <h2>Sinopsis</h2>
          <h5>{{data.plot}}</h5>
        </div>
        <div class="container mx-auto m3" style="width: 30%;">
          {{!-- <form method="POST" action="/like"> --}}
          
          <i class="far fa-star fa-5x mt-3"></i><h4 class="mt-2"></h4>

          <button id="add-fav-btn" data-name="{{data.title}}" data-id="{{data.imdbid}}" data-img="{{data.poster}}" onclick="favourites(event)">Add Favorite list</button>

          <i class="fas fa-dollar-sign fa-5x mt-3"></i><h4 class="mt-2">{{data.boxoffice}}</h4>
          <i class="fas fa-hourglass-half fa-5x mt-3"></i><h4 class="mt-2">{{data.runtime}}</h4>
          <i class="far fa-star fa-5x mt-3"></i><h4 class="mt-2">{{data.rating}}</h4>
        </div>
        <div class="container mx-auto m3" style="width: 30%;">
          <i class="far fa-calendar-alt fa-5x mt-3"></i><h4 class="mt-2">{{data._year_data}}</h4>
          <i class="fas fa-theater-masks fa-5x mt-3"></i><h4 class="mt-2">{{data.genres}}</h4>
          <i class="fas fa-film fa-5x mt-3"></i><h4 class="mt-2">{{data.director}}</h4>
        </div>

      </div>
    </div>
  </div>


<div class="d-flex align-items-start m-3">
    <img class="spoty-img mr-3" src="{{playlist.[0].images.[0].url}}">

    <iframe src="https://open.spotify.com/embed/playlist/{{playlist.[0].id}}" width="100%" height="500" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

</div>
<!--
{{#each tracks as |track|}}
<audio controls src={{track}}></audio>
{{/each}}

<h5><a href="{{playlist.[0].external_urls.spotify}}" target="_blank">Listen Full Album on Spotify</a></h5>
-->

 
  <script src="https://cdn.jsdelivr.net/npm/video.js@7.6.6/dist/video.min.js"></script> 
  <script src="https://cdn.jsdelivr.net/npm/videojs-youtube@2.5.1/dist/Youtube.min.js"></script>

  <script>
     function favourites(event){
       const name = event.target.getAttribute('data-name')
       const id = event.target.getAttribute('data-id')
       const img = event.target.getAttribute('data-poster')

       axios.post(`/films/${id}/favourite`, { method: "post", withCredentials: true })
        .then(response => console.log(response ))
        .catch(error => console.log(error))
    }
   
  
  </script>
</div>